@model ConcertBooking.WebHost.ViewModels.HomePageViewModels.HomeConcertDetailsViewModel


<div class="row m-3">
    <div class="col-6">
       <img src="@Model.ConcertImage" alt="Concert Image" width="500" height="350" />
    </div>
    <div class="col-6">
        <div>Concert Id :  @Model.ConcertId</div>
        <div>Concert Name :  @Model.ConcertName</div>
        <div>Concert Description :  @Model.Description</div>
        <div>Venue Name :  @Model.VenueName</div>
        <div>Venue Address :  @Model.VenueAddress</div>
        <div>Venue Date & Time :  @Model.ConcertDateTime.ToString("MMM dd yyyy hh:mm")</div>
        <div class="mt-2"><img src="@Model.ArtistImage" class="rounded-circle img-fluid" style="height:150px;width:150px" /></div>
        <div>Artist Name :  @Model.ArtistName</div>
        <div class="mt-3"><a asp-action="AvailableTickets" asp-route-id="@Model.ConcertId" class="btn btn-success">See Available Tickets</a></div>
    </div>

</div>



<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
